@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dots {
    background-color: rgb(47, 159, 148);
    background-image:
      radial-gradient(rgb(17,17,17) 5%, transparent 5%),
      radial-gradient(rgb(27, 25, 25) 5%, transparent 5%);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
  }

  .bg-image {
    background-image: url('/Portfolio/image/dark2.png');
  }

  .mynev {
    @apply border-b-4 border-transparent hover:border-mypink hover:text-gray-500 transition ease-in-out duration-100;
  }
 


  .img-class {
    @apply h-40 rounded-xl text-center font-bold bg-mycolor 
  }
  .card-class {
    @apply  text-gray-700 text-xl rounded-xl text-center font-bold bg-mycolor mx-20 my-8 shadow-2xl
  }
  .card-hover {
    @apply border-2 border-mypink p-1 rounded-full hover:bg-mypink hover:text-gray-300
  }
  .rotate {
    @apply rounded-full h-32 hover:rotate-45 active:rotate-45
  }
  .rotate2 {
    @apply rounded-full h-32 hover:rotate-90 active:rotate-90
  }